{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dragaminas - Create username</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>

    <!--================ Start Registration Area =================-->

    {% if not usuario %}
      <div class="section_gap registration_area" id="area_registro">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="row clock_sec clockdiv" id="clockdiv">
                <div class="col-lg-12">
                  <h1 class="mb-3">Login now</h1>
                  <form id="form" action="">

                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12 form_group">
                        <input
                          id="username"
                          name="username"
                          placeholder="Username"
                          required="required"
                          type="text"
                          value=""
                        />
                      </div>
                    <p>Remenber your username to continue your game</p>
                      <div class="col-lg-12 form_group">
                        <button id="button_start" class="primary-btn" type="submit">Start</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endif %}
    <!--================ End Registration Area =================-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>#}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script>
        var urlCreateUsername = "core/username/";
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

        $("#button_start").on("click", function(e) {
            {#TODO: validate input is not empty#}
            e.preventDefault();
            $.ajax({
                url: urlCreateUsername,
                method: "POST",
                data: {
                    "username": $("#username").val()
                },
                headers:{"X-CSRFToken": $crf_token},
                success: function (data) {
                    alert("Welcome " + data.username)
                    location.href = "choice-game/"+ data.username+ "/";
                    },
                error: function (response) {
                    if(response.responseJSON.detail) {
                        alert(response.responseJSON.detail);
                    }else{
                        alert(response.responseJSON[0]);
                    }
                }
            });
        });
    </script>
  </body>
</html>
