
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#49a269" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <title>Clase Segura</title>
    <meta name="description" content="Somos una aplicación móvil. Nuestro objetivo principal es brindar seguridad e información oportuna al padre de familia.">
       <meta http-equiv="content-language" content="es" />
        <meta name="keywords" content="zelebit,clase segura,seguridad,colegio,asitencia,tiempo real" />
    <link rel="icon" type="image/png" href="{% static "favicon.ico" %}">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
        <script src="js/respond.js"></script>
    <![endif]-->
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '903140023206700');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=903140023206700&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body class="no-js">
    <div class="main">
        <header>
            <div class="wrap">
                <img src="{% static 'images/iPhone.png' %}" height="532" width="252" alt="" class="header-img">
                <div class="header-wrapper">
                  <div class="row">
                    <div class="col-xs-2">
                      <img src="{% static 'images/logo.png' %}" style="width: 30%; padding-left: 15%">
                    </div>
                    <div class="col-xs-2">
                      <h1>  Clase Segura </h1>
                    </div>
                  </div>

                    <p>Aplicación móvil dirigida al sector educativo privado.

                      Nuestro objetivo principal es brindar en tiempo real información académica relevante
                      al padre de familia sobre el rendimiento escolar de su hijo (a) en el colegio.</p>
                    <div class="buttons-wrapper">
                        <a href="https://play.google.com/store/apps/details?id=zelebit.clase_segura.app" target="_blank" class="button" style="border: none !important;">Descarga el App</a>
                        <a href="#nosotros" class="button" style="border: none !important;">¡Conócenos!</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="spanning">
            <div class="promo clearfix">
            <div style="text-align: center;margin-bottom: 5%"><h2 style="font-size: 72px;"><b>Nuestros usaurios</b></h2></div>
                <div class="wrap">
                    <div class="promo-wrapper clearfix" style="text-align: center;">
                        <div class="promo-column" style="border-right: 5px solid #202f64; text-align: center;    margin-right: 10%;">
                            <h5 style="color: #49a269;">PADRE DE FAMILIA</h5>
                            <img src="{% static 'images/u3-compressor.png' %}" style="width: auto">
                        </div>
                        <div class="promo-column" style="border-right: 5px solid #202f64; text-align: center;    margin-right: 10%;">
                            <h5 style="color: #49a269;">DOCENTE</h5>
                            <img src="{% static 'images/u1-compressor.png' %}" style="width: auto">
                        </div>
                        <div class="promo-column">
                            <h5 style="color: #49a269;">ASISTENTE ADMINISTRATIVO</h5>
                            <img src="{% static 'images/u2-compressor.png' %}" style="width: auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="discover clearfix" id="nosotros" style="background-color: #49a269;">
                <div class="wrap">
                    <div class="discover-content clearfix" style="color:white">
                        <h2>Te avisamos a tiempo</h2>
                      <ul>
                        <li type="disc">Notas de los cursos.</li>
                        <li type="disc">Asistencia a clases.</li>
                        <li type="disc">Recomendaciones académicas.</li>
                        <li type="disc">Porcentajes de probabilidad de aprobación de los cursos.</li>

                      </ul>
                        <div class="discover-button clearfix">
                            <a href="https://play.google.com/store/apps/details?id=zelebit.clase_segura.app" target="_blank" class="button button-download android">
                                <span class="button-download-title">descargalo en</span>
                                <span class="button-download-subtitle">Android</span>
                            </a>
                        </div>
                    </div>
                    <div class="screen-couple-left wow fadeInLeftBig">
                        <div class="fog fog-top wow"></div>
                        <div class="fog fog-bottom wow"></div>
                        <img class="screen above" src="{% static 'images/screen_couple_above_v1.png' %}" alt="" height="484" width="250"/>
                      <img class="screen beyond wow fadeInLeft" data-wow-delay="0.5s" src="{% static 'images/screen_couple_above_v2.png' %}" alt="" height="407" width="210" style="height: 407px" />
                    </div>
                </div>
            </div>
            <div class="video clearfix" style="background-color: #fff;">
                <div class="wrap">
                    <div class="video-title" style="color:#202F64;">Seguridad al alcance de tus manos</div>
                    <div class="video-subtitle" style="color: #49a269; "> Descubre más sobre nuestra aplicación móvil</div>
                    <div class="video-block" style="text-align: center">
                      <iframe width="100%" height="350" src="https://www.youtube.com/embed/MaV_K7To7KY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video-share-wrapper clearfix">
                        <ul class="social-list clearfix">
                            <li class="video-share-title" style="color: #49a269;margin-top: 5%;">Síguenos en nuestras redes sociales:</li>
                            <li><a href="https://www.linkedin.com/company/14791353/admin/" target="_blank"
                                   style="background-color: white">
                              <img src="{% static 'images/lin-compressor.png' %}" style="width: auto">
                            </a></li>
                            <li><a href="https://www.facebook.com/appclasesegura/" target="_blank"
                                   style="background-color: white">
                              <img src="{% static 'images/face-compressor.png' %}" style="width: auto">
                            </a></li>
                            <li><a href="https://bit.ly/39iRYgu" target="_blank"
                                   style="background-color: white">
                              <img src="{% static 'images/insta-compressor.png' %}" style="width: auto">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="comments clearfix">
                <div class="wrap">
                    <div class="tab">
                        <div class="box visible">
                            <h4 style="font-size: 72px;line-height: 72px; font-weight: bold; margin-bottom: 29px;">BENEFICIOS <a href="#"></a></h4>
                            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                              Imagen institucional tecnológica, moderna y sosfisticada.</p>
                        </div>
                        <div class="box">
                            <h4 style="font-size: 72px;line-height: 72px; font-weight: bold; margin-bottom: 29px;">BENEFICIOS <a href="#"></a></h4>
                            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                              Información oportuna y en tiempo real al padre de familia.</p>
                        </div>
                        <div class="box">
                            <h4 style="font-size: 72px;line-height: 72px; font-weight: bold; margin-bottom: 29px;">BENEFICIOS <a href="#"></a></h4>
                            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                             Ayudar al medio ambiente, reduciendo el uso de papel. </p>
                        </div>
                        <ul class="tabs">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <a href="#" class="tab-prev"></a>
                        <a href="#" class="tab-next"></a>
                    </div>
                </div>
            </div>
            <div class="simple clearfix">
                <div class="wrap">
                    <div class="simple-content">
                        <h3 style="color: white">Público objetivo:</h3>
                        <ul style="color: white">
                            <li class="clearfix"><span><i class="fa fa-check-square-o" aria-hidden="true"></i>Centros educativos particulares</span></li>
                            <li class="clearfix"><span><i class="fa fa-check-square-o" aria-hidden="true"></i>Centro de talleres (manualidades, música, cocina, vacacionales).</span></li>
                            <li class="clearfix"><span><i class="fa fa-check-square-o" aria-hidden="true"></i>Centro de idiomas</span></li>
                            <li class="clearfix"><span><i class="fa fa-check-square-o" aria-hidden="true"></i>Centros de cursos y/o capacitación</span></li>
                            <li class="clearfix"><span><i class="fa fa-check-square-o" aria-hidden="true"></i>Centros de reforzamiento (internos)</span></li>
                            <li class="clearfix"><span><i class="fa fa-check-square-o" aria-hidden="true"></i>Entre otros centros relacionados a educación</span></li>
                        </ul>
                    </div>
                    <div class="simple-img">
                        <img src="{% static 'images/3.png' %}" height="508" width="587" alt="" style="height: auto">
                    </div>
                </div>
            </div>
            <div class="newsletter clearfix">
                <div class="wrap">
                    <div class="newsletter-title" style="color: white">¡ATRÉVETE AL CAMBIO!</div>
                    <div class="newsletter-form clearfix">
                        <form action="">
                            <input type="email" placeholder="Ingresa tu correo electrónico" class="input-text">
                            <input type="button" class="button" value="Más información" style="
                            background-color: white; color: #49a269; width: 40%; border-color: #49a269;">
                        </form>
                    </div>
                    <p style="color: white">Si desea recibir mayor información sobre Clase Segura, ingrese su correo electrónico.</p>
                </div>
            </div>
        </div>
    </div>
    <section id="download" class="bg-color-main">
        <div class="container-fluid">
          <a href="https://play.google.com/store/apps/details?id=zelebit.clase_segura.app" target="_blank" class="goto">
            <h2><div class="download" style="font-size: 30px; color: #202f64"><i class="fa fa-android"></i> Descarga nuestra app </div></h2>
            </a>
        </div>
        <div class="block-bg"></div>
    </section>
    <footer>
        <div class="wrap">
            <p>&copy; 2019 <b>Clase Segura</b>, Todos los derechos reservados</p>
            <p class="text-center"> <a href="https://zelebit.com/" target="_blank"> Zelebit </a> </p>
        </div>
    </footer>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/library.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/retina.js' %}"></script>
</body>
</html>
